wandb
*.swp
.python-version
wandb
wandb-debug.log
__pycache__
.ipynb_checkpoints
.DS_Store
out
datasets
prev_datasets
results
*.pyc
__pycache__
log.out
out.log
3rdparty
tmp
Tools
archive
transfer_data
transfer_data/
temp/
data/smpl
data/vposer
data/humor
data/scene_mesh
data/amass
sample_data/
results/
data/
data/chi3d
analysis_nbs/
utils/notebook_misc.py
inspect_out/
*.zip
*.tar
*.gz
*.tgz
*.jpg
*.png
*.mp4
*.gif
*.pdf
*.ply
*.obj
*.pkl
.idea

